.box {
  background: #f6beff;
  border: 3px solid #9830a1;
  padding: 8px;
  display: flex;
  align-items: center;
  width: 240px;
  border-radius: 10px;
}

.boxIcon {
  background: #f78ffe;
  border: 2px solid #9830a1;
  border-radius: 10px;
  margin-right: 16px;
  width: 56px;
  height: 56px;
  flex-shrink: 0;
}

.boxName {
  color: #9830a1;
  font-weight: 500;
  margin-bottom: 4px;
}
